.blo_container {
  width: 100%;
  margin: -20px 0;
}

.div-interna {
  display: flex;
  justify-content: end;
}

.blo_box {
  width: 100%;
  padding: 2% 10%;
}

.sm {
  vertical-align: middle;
}

.s-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.sb {
  background-color: #e25f79;
  color: white;
  margin-left: 2px;
  border-radius: 10px;
}

.style-h5 {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #e25f79;
  padding: 5px 10px;
  color: white;
  border-radius: 10px;
}

.s-input {
  padding-left: 10px;
  width: 250px;
  border-radius: 10px;
  border: none;
  margin: 0 2px;
}

.style-list {
  font-size: 0.8rem;
  color: #e25f79;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .blo_box {
    padding: 10% 6%;
  }

  .sb {
    margin-top: 5px;
    margin-left: 2px;
    border-radius: 10px;
  }

  .s-input {
    padding-left: 10px;
    height: 35px;
    margin: 1px 2px;
  }

  .s-div {
    width: 100%;
    display: block;
  }

  .div-interna {
    display: block;
  }
}
